{{define "index"}}
<!DOCTYPE html>
<html>
    {{template "header"}}

    <body>
        <main>
            <div class="title">
                <h1>Albumify</h1>
                <hr />
            </div>

            <div class="container">
                <form action="/" method="post">
                    <h3>Album</h3>

                    <div>
                        <p for="album_title_input">Album title</p>
                        <input id="album_title_input" type="text" name="album_title_input" placeholder="A day at the beach">
                    </div>

                    <div>
                        <p for="album_desc_input">Album Description</p>
                        <textarea id="album_desc_input" rows="5" cols="25" name="album_desc_input" placeholder="It was fun"></textarea>
                    </div>

                    <div class="frames">
                        <div id="frame1" class="frame">
                            <h3>Image 1</h3>

                            <div>
                                <p>Image Title</p>
                                <input id="image_title" name="image[0][title]" type="text">
                            </div>

                            <div>
                                <p for="image_description">Image Description</p>
                                <textarea id="image_description" rows="3" cols="25" name="image[0][title]"></textarea>
                            </div>

                            <div>
                                <p for="image_link">Image link</p>
                                <input id="image_link" name="image[0][link]" type="text">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <input type="submit" value="Submit!">
                    </div>
                </form>
            </div>
        </main>

        {{template "footer"}}
    </body>
</html>
{{end}}
