{{define "index"}}
<!DOCTYPE html>
<html>
    {{template "header"}}

    <body>
        <main>
            <div class="title">
                <h1>Albumify</h1>
            </div>

            <div class="container">
                <form action="/" method="post">
                    <h3>Album</h3>

                    <div>
                        <p class="label" for="album_title_input">Album title</p>
                        <input id="album_title_input" type="text" name="album_title_input" placeholder="A day at the beach">
                    </div>

                    <div>
                        <p class="label" for="album_desc_input">Album Description</p>
                        <textarea id="album_desc_input" rows="5" cols="25" name="album_desc_input" placeholder="It was fun"></textarea>
                    </div>

                    <div id="frames">
                    </div>
                    <div>
                        <button type="button" id="addFrame">Add frame</button>
                        <button type="submit">Submit!</button>
                    </div>
                </form>
            </div>
        </main>

        {{template "footer"}}

        <script src="/static/js/make.js"></script>
    </body>
</html>
{{end}}
